#badgeList {
  #contentContainer {
    display: flex;
    align-content: flex-end;
    align-items: center;
  }

  #showMoreButton {
    background-color: rgb(255, 255, 255);
    color: rgba(63, 67, 80, 0.56);
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    height: 24px;
    width: 24px;
    font-size: 18px;
    margin-left: 6px;
    padding: 0;

    &:hover {
      background-color: rgba(63, 67, 80, 0.08);
    }
  }
}