#badgePlugin {
  #contentContainer {
    display: flex;
    align-content: flex-end;
    align-items: center;
  }

  #showMoreButton {
    background-color: var(--center-channel-bg);
    color: rgba(var(--center-channel-color), 0.56);
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    height: 24px;
    width: 24px;
    font-size: 18px;
    margin-left: 6px;
    padding: 0;

    &:hover {
      background: rgba(var(--center-channel-color), 0.08);
      color: rgba(var(--center-channel-color), 0.72);
    }
  }

  #grantBadgeButton {
    margin-top: 4px;
    padding-left: 0;
    border: 0;
    background-color: var(--center-channel-bg);
    color: var(--button-bg);
    font-size: 12px;
    font-weight: 600;
    gap: 6px;
    line-height: 10px;

    .fa-plus-circle {
      margin-right: 4px;
    }
  }
}